<form action="" method="post">
    <label for="first_name" class="form-label mt-3">First Name</label>
    <input type="text" name="FirstName" id="first_name" class="form-control">
    <label for="middle_name" class="form-label mt-3">Middle Name</label>
    <input type="text" name="MiddleName" id="middle_name" class="form-control">
    <label for="last_name" class="form-label mt-3">Last Name</label>
    <input type="text" name="LastName" id="last_name" class="form-control">
    <label for="gender" class="form-label mt-3">Gender</label>
    <input type="text" name="gender" id="gender" class="form-control">
    <button class="mt-3 btn btn-primary">Submit</button>


</form>